<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- alias -->
    <typeAliases>
        <typeAlias type="com.tyt.entity.DrugPrescDetail" alias="drugPrescDetail"/>
        <typeAlias type="com.tyt.entity.OutpRecord" alias="outpRecord"/>
        <typeAlias type="com.tyt.entity.UserInfo" alias="userInfo"/>
    </typeAliases>
</configuration>